.sidebar {
  border-radius: 10px;
  flex: 0.2;
  height: fit-content;
  position: sticky;
  text-align: center;
  top: 80px;

  .sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
    padding-bottom: 10px;

    .sidebar__avatar {
      object-fit: contain;
      width: 30px;
      height: 30px;
      margin-top: -15px;
    }

    img {
      width: 100%;
    }
  }
}
