.sidebar {
  border-radius: 10px;
  flex: 0.2;
  height: fit-content;
  position: sticky;
  text-align: center;
  top: 80px;

  .sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
    padding-bottom: 10px;

    .sidebar__avatar {
      border: 2px white solid;
      object-fit: contain;
      width: 45px;
      height: 45px;
      margin-top: -20px;
    }

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 60px;
      width: 100%;
    }

    h2 {
      font-size: 1.2rem;
    }

    h4 {
      color: gray;
      font-size: 0.7rem;
    }
  }
  .sidebar__stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .sidebar__stat {
      color: gray;
      font-size: 13px;
      font-weight: 600;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .sidebar__statNumber {
        font-weight: bold;
        color: #0a66c2;
      }
    }
  }

  .sidebar__bottom {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background: white;
    border-radius: 10px;
    margin-top: 10px;

    .sidebar__recentItem {
      color: gray;
      cursor: pointer;
      display: flex;
      font-size: 0.8rem;
      font-weight: bolder;
      margin-bottom: 5px;
      padding: 5px;

      &:hover {
        background-color: whitesmoke;
        border-radius: 10px;
        color: black;
      }

      .sidebar__hash {
        margin: 0 5px;
      }
    }
  }
}
